* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  min-width: 1300px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.el-menu-item,
.el-menu,
.el-submenu__title {
  font-size: 18px !important;
}

.el-tabs__item {
  font-size: 20px !important;
  padding: 5px;
}

.el-form-item__label {
  font-size: 20px !important;
}

.el-table-column {
  min-height: 60px !important;
  font-size: 18px;
}

.el-switch__label {
  font-size: 16px !important;
}

.el-upload-list__item-name{
  margin: 15px auto;
  font-size: 18px;
  line-height: 40px;
}
/* .el-form-item__label{
  color: #fff !important;
} */